# Homework #11

In all the exercises that follow, insert your code directly in this file and immediately after each question.


1. To the extent possible, **always use variables** in your answers.
1. When a question provides a value for you to use in computations, **first store it in a variable and from that point onwards write code that makes use of that variable**. This is a good practice in programming: it allows you to write code that (except for the first couple of lines) is independent from the specific values provided to you. That makes it easy to update those external values later on if they ever change without having to modify your code, which is always an error-prone thing to do!
1. Remember this is a programming course. :-) This means that the answers to all questions are meant to be **done in code** as much as possible. E.g., when a question reads "*count the number of times that ...*" you should interpret it as "***write code that*** *counts the number of times that ...*". Use your best judgment and you will do fine. :-)

**Remember**: there are many ways to solve any programming assignment. If you wrote code that follows the instructions, uses variables (to the extent possible) and is valid Python code, you are entitled to full credit.

## Question 0

Double-click on this cell and enter:

**Your name:** Arjun Shankar

**Your netID:** as11598

## About this assignment, the data it is based on and useful tips

In this assignment, you will practice handling tabular data with tabel.

Please note this final assignment is more "realistic" than the previous ones. It uses "raw" real-world data, as opposed to the example data we have (mostly) been working with over the last couple
of sessions. Real-world data invariably contains missing values and other "irregularities" that we need to take into account. Furthermore, it is often formatted in the way that made sense to the people who produced the dataset -- and we need to adapt to it! :-) So, for these two reasons, it is perfectly natural for you to find this homework more challenging than the previous ones. Rest assured that all required techniques either were covered in class or are described in detail below.

This assignment uses a cool dataset I extracted from the databases available at http://data.worldbank.org. You will find the dataset in the file hw11-worldbank-data.csv, which is posted (together with these instructions) on NYU Classes => 'Assignments'. As the filename indicates, the data is in the standard CSV format which you can read into tabel using its read_tabel() method.

**The CSV file is structured in a way that is very common in datasets containing time series data. Please read this section carefully so that you understand how to process it:**

1) Each line in the file contains a sequence of values for a particular time series (e.g., *Access to electricity (% of population)* or *Account ownership at a financial institution or with a mobile-money-service (% of population ages 15+)*) in a specific country. These values start at the 5th column of the dataset, which has the header *1960* and then progress from that year onwards all the way to *2018*.

2) The first 5 columns in the dataset contain the *Country Name* and *Series Name*. Together, they tell you exactly what the data on each row is. For example, a row where *Country Name* is *Albania* and the *Series Name* is *Bird species, threatened* contains the time series providing the number of threatened bird species in Albania.

3) **Knowing the information above, how do you identify a certain time series X that you are interested in for country Y?** Easy: you loop over all rows, compare the value in the *Series Name* column to X and the value in the *Country Name* column to Y and, when you find a match (using an if statement), you know that you are looking at the correct row and that the data you want can be found in the columns named after years (*1960*, *1961*, ..., *2018*) in that same row.

4) The information in the column *Country Name* and *Country Code* is equivalent, you can use either of these columns to identify the country a row refers to. The same applies to *Series Name* and *Series Code*: you can also either of these to identify the time series contained in a row. You are free to use whichever way of specifying a country and time series that you prefer.

**IMPORTANT: You should *not* waste any time staring at the CSV file in Excel/Jupyter trying to manually locate the rows where any specific time series is found and then hard coding those values into your code! That will not get you full credit. Instead, you should write code that locates the relevant time series and uses that data to answer the questions! Point (3) above spells out exactly how to do so. :-)**


Additionally, please keep in mind the following two techniques so that you can more easily answer the questions that follow:
    
**1) Missing values:**
        
In the datasets it makes available, the World Bank represents missing values as '..' (two periods). Therefore, whenever you look at a value in a time series you should first check it is not equal to the string '..'. If a value is different from '..', then you can assume it will be a number. 
                
        
**2) Accessing multiple columns for a certain row:**
        
In tabel, you can retrieve the values found in a certain row for a subset of columns by providing a list of column names inside the square brackets. Eg, to access the values for years (columns) 2014, 2015 and 2016 for row i and get them back in a 3-item list I would use:
        
            worldbank_data_tabel[i, ['2014', '2015', '2016'] ]

## Question 1

Create a tabel object containing all the data found in the CSV file
hw11-worldbank-data.csv.

In [1]:
#import pip
#pip.main(['install', 'tabel'])

In [2]:
#Answer to Question 1.1
import tabel
filename = "hw11-worldbank-data.csv"
wbank_table = tabel.read_tabel(filename)

## Question 2

For each country, the dataset contains three figures for literacy rate among adults: total, male and female. One way in which you can identify the rows containing these time series by comparing the "Series Code" value in a row to "SE.ADT.LITR.ZS" (total literacy rate), "SE.ADT.LITR.MA.ZS" (male literacy rate) and "SE.ADT.LITR.FE.ZS" (female literacy rate).


    2.1) Print out the values for the male literacy rate for Spain from 2007 to 2016. (Your code should get the complete sequence of values using the technique described above under "Accessing multiple columns for a certain row" and then simply loop over that sequence, printing each of them.)

    2.2) What is the *average* of the total literacy rate for Brazil over the period from 2007 to 2016 (inclusive)? (This time series contains a missing value for one of these years, as described above under "Missing values". Your answer should simply ignore that year and compute the average for the remaining years between 2007 and 2016.)

    2.3) What is the *average* of the female literacy rates in the year 2010 when you consider the following three countries: Brazil, Turkey and Spain?

**Note:** Question 2.2 asks you to compute the average for the values of the total literacy rate in a single country over several years. Question 2.3 asks you to compute the average of the female literacy rate values for several countries in a single year.

In [3]:
#Answer to Question 2.1
country = "Spain"
code = 'SE.ADT.LITR.MA.ZS'
yr1 = 2007
yrx = 2016

yrs = []
for i in list(range(yr1, yrx+1)):
    yrs.append(str(i))
    
for i in range(len(wbank_table)):
    if wbank_table[i, ["Country Name", "Series Code"]] == (country, code):
                   print( wbank_table[i, yrs] )

('98.6334609985352', '98.4022979736328', '98.4619369506836', '98.5257110595703', '98.5361862182617', '98.6065292358398', '98.7487487792969', '98.7312698364258', '98.7708892822266', '98.8359680175781')

In [4]:
#Answer to Question 2.2
country = "Brazil"
code = 'SE.ADT.LITR.ZS'
yr1 = 2007
yrx = 2016

yrs = []
for i in list(range(yr1, yrx+1)):
    yrs.append(str(i))
    
lr = []    
for i in range(len(wbank_table)):
    if wbank_table[i, ["Country Name", "Series Code"]] == (country, code):
        for x in list(wbank_table[i, yrs]):
            if x != '..':
                lr.append(float(x))
lr_avg = sum(lr)/len(lr)
print(lr_avg)

90.97044881184895

In [5]:
#Answer to Question 2.3
countries = ["Brazil", "Turkey", "Spain"]
code = 'SE.ADT.LITR.FE.ZS'
yr = '2010'

flr = []
for i in range(len(wbank_table)):
    for country in countries:
        if wbank_table[i, ["Country Name", "Series Code"]] == (country, code):
            flr.append(float(wbank_table[i, yr]))
flr_avg = sum(flr)/len(flr)
print(flr_avg)

91.91979217529297

## Question 3

3.1) For the year 2017 (this is the most recent year for which, as of Dec 3rd 2020, data is available in many of the World Bank time series), which were the 5 countries with the highest military expenditure as a percentage of GDP? Print their names and respective military expenditure as percentage of GDP.

**Hint:** you can approach this question in multiple ways. One possibility is to sort all military expenditures in 2017, sorting it in decreasing order, determining the 5th largest value in that list, and then merely printing to the screen the names of countries that have a military expenditure equal or larger than that of the top 5. The only way in which you should **not** solve this question is by manually/visually identifying the 5 countries and then simply hard-coding their row numbers into your code.

In [7]:
#Answer to Question 3.1
code = 'MS.MIL.XPND.GD.ZS'
year = "2017"
missing_val = '..'
not_countries = ['Arab World', "Middle East & North Africa"]
mlt_spd=[]

for i in range(len(wbank_table)):
    if wbank_table[i, "Series Code"] == code:
        if (wbank_table[i, "Country Name"] in not_countries):
            continue
        elif (wbank_table[i, year] != missing_val): 
            mlt_spd.append(float(wbank_table[i, year]))
mlt_spd.sort(reverse=True)
for i in range(len(wbank_table)):
    if wbank_table[i, "Series Code"] == code:
        if (wbank_table[i, "Country Name"] in not_countries):
            continue
        elif (wbank_table[i, year] != missing_val):
            if float(wbank_table[i, year]) >= mlt_spd[4]:
                print(wbank_table[i, ["Country Name", year]])
            
#I see how this code is redundant; how would I write it so I don't have to repeat the conditions twice? Thanks!

('Algeria', '5.70823510813507')
('Congo, Rep.', '6.16705319118021')
('Kuwait', '5.7511657679889')
('Oman', '12.0727196538761')
('Saudi Arabia', '10.2886710302592')